<h4>Flat tree demo</h4>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>

    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>

    <!-- _note_: <a mat-button> -->
    <a mat-button (click)="selected(node)">{{node.name}}</a>
  </mat-tree-node>

  <!-- This is the tree node template for expandable nodes -->
  <!--
    _note_: for matTreeNodeDef
    see: https://stackoverflow.com/questions/55490198/angular-mat-tree-on-mattreenodedef-iteration-not-able-to-get-index-as-of-ngfor
  -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.name"
            (click)="selected(node)">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
      {{node.name}}
    </button>
  </mat-tree-node>
</mat-tree>