.example-icon {
  padding: 0 14px;
}
/* #docregion toolbar-position-content-style */
.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav {
   user-select: none;
}

/* _note_: directly apply style to the angular material's element |style| */
mat-icon {
  padding-right: 30px;
}

/* nav tabs */
.active-link {
  color: red;
  background-color: aquamarine;
} 

/* mat-sidenav {
  width: 400px;
  min-width: 400px;
} */